header {}

.row {
    max-width: 114rem;
    margin: 0 auto;
}

.header__flex {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.header__textbox {
    flex: 0 0 50%;
    padding: 0 5vw 0 0;
    margin-top: -9rem;
}

.header__textbox *:not(:last-child) {
    margin-bottom: 2rem;
}

.header__text {
    font-size: 1.6rem;
}

.header__photo {
    flex: 0 0 50%;
}

nav {
    padding: 2rem 0;
}

.nav__list {
    display: flex;
    margin-left: 5rem;
}

.nav__list *:not(:last-child) {
    margin-right: 3rem;
}

.nav__link {
    font-size: 1.5rem;
    color: var(--gray);
}

.nav__link:hover {
    color: var(--very-dark-violet);
    transition: all .5s;
}

.logo {
    cursor: pointer;
}

.header__btn {
    font-size: 1.4rem;
    display: inline-block;
    font-weight: 700;
    margin-left: auto;
}

.btn__light {
    margin-right: 3rem;
}

.btn__light:hover {
    color: var(--very-dark-violet);
    transition: all .5s;
}

.btn__cyan {
    font-size: 1.4rem;
    padding: .5rem 1.8rem;
    background-color: var(--cyan);
    color: var(--color-white);
    border-radius: 10rem;
}

.btn__cyan:hover {
    color: var(--cyan);
    background-color: var(--very-dark-blue);
}

.btn__shorten {
    padding: 1rem 3.5rem;
}

.heading-primary {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
}

.shorten {
    padding: 5rem 0;
}

.shorten__content {
    background-color: var(--dark-violet);
    width: 90%;
    padding: 4rem 4rem;
    border-radius: 1rem;
}

.shorten__flex {
    display: flex;
    align-items: center;
}

.form {
    flex: 0 0 80%;
}

.form__input {
    display: block;
    width: 95%;
    padding: 2rem 2rem;
    border: none;
    outline: none;
    margin-right: 2rem;
    border-radius: 1rem;
    font-family: inherit;
}

.features {
    padding: 5rem 0 20rem 0;
    margin-top: -.1rem;
    background-color: var(--gray);
}

.features__textbox {
    text-align: center;
    padding: 1rem 30vw;
    color: var(--very-dark-blue);
}

.features__textbox *:not(:last-child) {
    margin-bottom: 2rem;
}

.features__text {
    font-size: 1.6rem;
    margin-bottom: 8rem;
}

.features__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 3rem;
    color: var(--very-dark-blue);
}

.features__card {
    padding: 2rem 4rem;
    background-color: var(--color-white);
    box-shadow: 0 .2rem .5rem rgba(--color-white, .1);
    border-radius: 1rem;
}

.features__card--2 {
    transform: translateY(3.5rem);
}

.features__card--3 {
    transform: translateY(5.5rem);
}

.features__card--icon {
    background-color: var(--very-dark-blue);
    border-radius: 10rem;
    display: inline-block;
    width: 8rem;
    height: 8rem;
    transform: translateY(-6rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.features__card--img {
    width: 4rem;
}

.features__card--text {
    font-size: 1.3rem;
    transform: translateY(-2rem);
}

.heading-secondary {
    font-size: 4rem;
    font-weight: 700;
}

.heading-tertiary {
    font-size: 2rem;
    font-weight: 700;
    transform: translateY(-4rem);
}

.boost {
    background-color: var(--dark-violet);
    padding: 5rem 0;
}

.heading-secondary--boost {
    color: var(--color-white);
}

.boost__textbox {
    text-align: center;
}

.boost__textbox *:not(:last-child) {
    margin-bottom: 2rem;
}

.btn__cyan--boost {
    padding: 1.2rem 4.5rem;
}